/* Apply an overall font and size */
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

* {
  font-size: 1.2vw;
}

/* HEADER/NAVBAR ELEMENTS */

/* top-bar Elements */
.top-bar {
  margin-left: 210px;
  background: rgb(88 88 88);
  top: 0;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

#footer {
  height: 150px;
}

#logo {
  width: 7%;
  padding-top: 6px;
  background: rgb(88 88 88);
}

/* Nav Bar Styling */
nav {
  position: fixed;
  height: 100%; /* 100% Full-height */
  width: 210px; /* 0 width - change this with JavaScript */
  top: 0;
  left: 0;
  background-color: rgb(243 195 131);
  padding-top: 60px; /* Place content 60px from the top */
  overflow-x: scroll;
}

#add {
  margin-top: 50px;
}

.nav-style a:link,
.nav-style a:visited {
  background-color: rgb(243 195 131);
  color: rgb(88 88 88);
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 8px 8px 32px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.nav-style ul {
  list-style-type: none;
}

.nav-style a:hover {
  background-color: #f3efbf;
}

.nav-style a:active {
  background-color: #f3efbf;
}

.btn-home {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 17px;
  text-align: center;
  width: 100px;
  background: #f8f4e5;
  border: 2px solid #111;
  box-shadow:
    3px 3px 1px #95a4ff,
    3px 3px 1px 1px #111;
}

#fav-recipe {
  column-gap: 25px;
  display: none;
  flex-wrap: wrap;
  max-height: 70%;
  height: auto;
  margin: 50px 1px 30px 30px;
  max-width: 100%;
  row-gap: 30px;
  width: 100%;
}

#tab {
  font-family: "Fjalla One", sans-serif;
  margin-left: 40px;
}

/* INDIVIDUAL RECIPE CARDS */
.recipe-cards {
  column-gap: 25px;
  display: flex;
  flex-wrap: wrap;
  max-height: 70%;
  height: auto;
  margin: 50px 1px 30px 30px;
  max-width: 100%;
  row-gap: 30px;
  width: 100%;
}

body {
  --primary: #e05d26;
  --grey: #857171;
  --lightgrey: #666;
  --size-bezel: 0.5rem;
  --size-radius: 4px;

  color: var(--grey);
  line-height: 1.55;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

div#add-recipe.popup {
  position: absolute;
  grid-gap: 10px;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(255 255 255);
  border-radius: var(--size-radius);
  border: 2px solid #111;
  box-shadow:
    3px 3px 1px #95a4ff,
    3px 3px 1px 1px #111;
}

.popup::-webkit-scrollbar {
  width: 7px;
}

.popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup::-webkit-scrollbar-thumb {
  background: rgb(88 88 88);
  border-radius: 10px;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  box-shadow: 2px 2px 5px 5px rgba(0 0 0 0 10);
  border-radius: 10 px;
  cursor: pointer;
}

div .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

div .item {
  padding: 5px 8px;
  margin-top: 10px;
  background: #f8f4e5;
  border: 2px solid #111;
  border-radius: 3px;
  color: #111;
  user-select: none;
}

span .delete-btn {
  display: inline-block;
  margin: 1px 2px;
  width: 8px;
  text-align: center;
  color: #555;
}

textarea {
  border-radius: var(--size-radius);
  border: 2px solid #111;
}

#time-cook,
#time-prep,
#serving {
  margin-bottom: 20px;
}

#view-directions,
#view-ingredients {
  font-size: 17px;
  background: #f8f4e5;
  border: 2px solid #111;
  box-shadow:
    3px 3px 1px #95a4ff,
    3px 3px 1px 1px #111;
}

input {
  border: none;
  border-bottom: 3px solid #111;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 20px;
  outline: none;
  font-size: 17px;
}

input:focus {
  border-bottom: 4px solid #ffa580;
}

#recipe-name {
  margin-bottom: 20px;
  padding: 10px;
  background: #f8f8f8;
}

#ingredients {
  height: calc(25vh - 50px);
  margin-bottom: 20px;
  padding: 10px;
  background: #f8f8f8;
}

#instructions {
  margin-bottom: 20px;
  height: calc(40vh - 50px);
  padding: 10px;
  background: #f8f8f8;
}

#output {
  margin-top: 3rem;
  width: 90%;
  display: block;
  position: static;
}

#save,
#discard {
  height: 30px;
  border: 2px solid #000;
  border-radius: 30px;
  background-color: rgb(243 195 131);
  cursor: pointer;
}

#upload {
  height: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #000;
  border-radius: 30px;
  background-color: rgb(243 195 131);
  cursor: pointer;
}

.recipe-name {
  font-weight: bold;
}

div.box-style {
  background: #f8f4e5;
  border: 2px solid #111;
  box-shadow:
    15px 15px 1px #ffa580,
    15px 15px 1px 2px #111;
}

ul.meta-style {
  margin-left: 30px;
  background: #f8f4e5;
  border: 2px solid #111;
}

li {
  margin-left: 20px;
  margin-right: 5px;
}

div #make-recipe {
  margin-left: -100px;
  font-size: 30px;
}

img.img-thumbnail.mb-5 {
  width: 500px;
  margin: 18px;
}

@media screen and (min-width: 800px) {
  .popup {
    min-width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .recipe-cards,
  #fav-recipe {
    margin-left: 300px;
  }

  body {
    overflow-x: visible;
  }

  .popup {
    min-width: 520px;
  }
}

@media screen and (max-width: 700px) {
  .recipe-cards,
  #fav-recipe {
    margin-left: 280px;
  }

  body {
    overflow-x: visible;
  }

  .recipe-cards {
    margin-left: 280px;
  }

  .popup {
    min-width: 420px;
  }

  #ingredients {
    height: 150px;
  }

  #instructions {
    height: 180px;
  }
}

@media screen and (max-width: 600px) {
  .recipe-cards,
  #fav-recipe {
    margin-left: 280px;
  }

  body {
    overflow-x: visible;
  }

  .popup {
    min-width: 380px;
    height: calc(100vh - 80px);
    overflow: auto;
    padding: 15px;
  }

  #ingredients {
    height: 150px;
  }

  #instructions {
    height: 180px;
  }

  #recipe-name,
  #ingredients,
  #instructions,
  label,
  button {
    font-size: 2.4vw !important;
  }

  input {
    height: 22px;
  }
}

@media screen and (max-width: 550px) {
  .recipe-cards,
  #fav-recipe {
    margin-left: 280px;
  }

  body {
    overflow-x: visible;
  }

  .popup {
    min-width: 90%;
    max-height: 480px;
    height: 100%;
    overflow: auto;
  }

  #ingredients {
    height: 150px;
  }

  #instructions {
    height: 180px;
  }
}

@media screen and (max-width: 475px) {
  #recipe-name {
    padding: 10px;
  }

  #logo {
    width: 22%;
  }

  .recipe-cards,
  #fav-recipe {
    margin-left: 280px;
  }

  body {
    overflow-x: visible;
  }

  .nav-style a:link,
  .nav-style a:visited {
    font-size: 14px;
  }

  .form-control {
    font-size: 5rem !important;
    line-height: 30px !important;
    padding-left: 1.5rem !important;
  }

  .fas.fa-search {
    font-size: 4rem;
    padding: 1rem 2rem;
  }

  #ingredients {
    height: 130px;
  }

  #instructions {
    height: 150px;
  }
}
